.container {
    padding: 30px;
    width: 60%;
    margin: 20px;
    box-shadow: 2px 1px 4px 1px rgba(0, 0, 0, 0.4); /*so that the header appears above the rest*/
    border-radius: 15px;
    /* background-color: #0A2647;
    color: white; */
}

.question {
    margin-bottom: 30px;
}

.option_container {
    margin-top: 10px;
    margin-bottom: 10px;
}

.option_text {
    margin-right: 20px;
}

.button {
    margin-top: 40px;
}

 