.container {
    /* position: absolute; */
    text-align: center;
    /* bottom: 0; */
    /* width: 100vw; */
    /* height: 2.5rem; */
    /* padding-top: 20px; */
    overflow-x: hidden; /* hide any overflow in the x-direction*/
    padding: 30px;
    box-shadow: 2px 1px 4px 1px rgba(0, 0, 0, 0.4); /*so that the header appears above the rest*/

}