.workspace {
  min-height: 600px; /* Ensures the entire page is filled*/
}

.main_container {
  /* background-color: #0a2647; */
  background-color: #f5f7f8;
  /* padding: auto;  */
  padding: auto 0;
}

body {
  overflow-x: hidden; /* Hide horizontal scrollbar */
}
