.workspace {
  padding: 30px;
}

.main_container {
  /* background-color: #0a2647; */
  background-color: #f5f7f8;
  padding: auto; /*dummy data*/
}

body {
  overflow-x: hidden; /* Hide horizontal scrollbar */
}
